.background-theme{
    background-color: #d2b300;
    padding: 5rem;
    padding-bottom: 0rem;
    display: flex;
    justify-content: space-between;
}

.main-title{
    font-family: Htw-Bold;
    font-size: 5rem;
}

.main-content{
    font-size: larger;
    margin: 0 auto;
    margin-top: 3rem;
}

.main-logo{
    max-height: 25rem;
    padding-right: 10rem;
}

.main-section{
    margin-top: 3rem;
}

.maincontent-section{
    margin-bottom: 3rem;
}

.wrapper {
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
}

.background-theme, 
.index-box {
    flex-grow: 1; 
}

.footer-section {
    background-color: #333333;
    color: white;
    display: grid;
    padding: 5rem;
    padding-top: 1rem;
    padding-bottom: 0rem;
}

.footer-content{
    display: flex;
    align-items: center;
    gap: 10rem;
    margin: 0 auto;
    margin-bottom: 3rem;
}
.footer-content a{
    text-decoration: none;
    color: white;
}
.footer-content a:hover{
    color: gray;
}

.link-logo{
    max-width: 3.5rem;
    margin-right: 1rem;
}